        <!-- Sign In Section Start -->
        <div class="signin-section ptb-100">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-3">
                      <form [formGroup]="loginForm" class="signin-form" (ngSubmit)="onSubmit()">
                          <div class="form-group">
                            <label>Enter Email</label>
                            <input formControlName="userName" class="form-control" placeholder="Enter Your Email" [ngClass]="{
                              'valid' :loginForm.get('userName')?.touched && loginForm.get('userName')?.valid,
                              'invalid' : form['userName'].touched &&form['userName'].invalid
                            }">
                              <small class="text-danger mt-3" *ngIf="loginForm.get('userName')?.invalid && loginForm.get('userName')?.touched">
                              email is required
                              </small>
                          </div>

                          <div class="form-group">
                              <label>Enter Password</label>
                              <input type="password" formControlName="password" class="form-control" placeholder="Enter Your Password"
                              [ngClass]="{
                                'valid' : form['password'].touched && form['password'].valid,
                                'invalid' : form['password'].touched &&form['password'].invalid
                              }">
                              <small class="text-danger mt-3" *ngIf="form['password'].invalid && form['password'].touched">

                            </small>
                          </div>

                          <div class="signin-btn text-center">
                              <button type="submit">Sign In</button>
                          </div>


                          <div class="create-btn text-center">
                              <p>Not have an account?
                                  <a href="signup.html">
                                      Create an account
                                      <i class='bx bx-chevrons-right bx-fade-right'></i>
                                  </a>
                              </p>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <!-- Sign In Section End -->
