/*---------- Sign In CSS Start ----------*/

.signin-form {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  padding: 50px;
  border-radius: 30px;
}

.signin-form .form-group {
  margin-bottom: 20px;
}

.signin-form .form-group label {
  font-size: 15px;
  margin-bottom: 10px;
  color: #000;
  font-weight: 500;
}

.signin-form .form-group .form-control {
  height: 50px;
  border-radius: 50px;
  padding: 5px 20px;
  background: #f9f6f6;
}

.signin-form .signin-btn {
  margin-top: 40px;
  margin-bottom: 30px;
}

.signin-form .signin-btn button {
  padding: 10px 30px;
  border-radius: 30px;
  background: #F2811D;
  color: #ffffff;
  -webkit-transition: .8s;
  transition: .8s;
  font-size: 16px;
}

.signin-form .signin-btn button:hover {
  background: #001935;
}

.signin-form .other-signin span {
  color: #001935;
  margin-bottom: 15px;
  display: inline-block;
}

.signin-form .other-signin ul {
  padding-left: 0;
  margin-bottom: 0;
}

.signin-form .other-signin ul li {
  display: inline-block;
}

.signin-form .other-signin ul li a i {
  width: 35px;
  height: 35px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  line-height: 35px;
  border-radius: 30px;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 0 3px;
}

.signin-form .other-signin ul li a i:hover {
  background: #001935;
  color: #ffffff;
}

.signin-form .create-btn {
  margin-top: 35px;
}

.signin-form .create-btn a {
  color: #001935;
  -webkit-transition: .8s;
  transition: .8s;
}

.signin-form .create-btn a:hover {
  color: #fd1616;
}

.signin-form .create-btn a i {
  top: 3px;
  position: relative;
}

.signin-form .create-btn a .bx-fade-right {
  -webkit-animation: fade-right 3s infinite linear;
          animation: fade-right 3s infinite linear;
}

.signin-form .create-btn p {
  margin-bottom: 0;
}

/*---------- Sign In CSS End ----------*/
