 <!-- Banner Section Start -->
 <div class="banner-style-two">
   <div class="d-table">
     <div class="d-table-cell">
       <div class="container">
         <div class="banner-text">
           <span>Find Jobs, Employment & Career Opportunities</span>
           <h1>Job Board for Hiring Creative Designers</h1>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
             dolore magna aliqua. Quis ipsum suspendisse.</p>

           <div class="theme-btn">
             <a href="#" class="default-btn">Upload your CV</a>
             <a href="contact.htmlf" class="default-btn">Contact Us</a>
           </div>
         </div>
       </div>
     </div>
   </div>

   <div class="banner-img">
     <img src="assets/img/banner/eiebu8okjtmlkaq5c5huhqk47o.png" alt="banner image">
   </div>
 </div>
 <!-- Banner Section End -->

 <!-- Category Section Start -->
 <section class="categories-section pt-100 pb-70">
   <div class="container">
     <div class="section-title text-center">
       <h2>Choose Your Category</h2>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
         magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
     </div>

     <div class="row">
       <div class="col-lg-3 col-md-4 col-sm-6">
         <a href="job-list.html">
           <div class="category-card">
             <i class='flaticon-accounting'></i>
             <h3>Accountancy</h3>
             <p>301 open position</p>
           </div>
         </a>
       </div>

       <div class="col-lg-3 col-md-4 col-sm-6">
         <a href="job-list.html">
           <div class="category-card">
             <i class='flaticon-graduation-cap'></i>
             <h3>Education</h3>
             <p>210 open position</p>
           </div>
         </a>
       </div>

       <div class="col-lg-3 col-md-4 col-sm-6">
         <a href="job-list.html">
           <div class="category-card">
             <i class='flaticon-wrench-and-screwdriver-in-cross'></i>
             <h3>Automotive Jobs</h3>
             <p>281 open position</p>
           </div>
         </a>
       </div>

       <div class="col-lg-3 col-md-4 col-sm-6">
         <a href="job-list.html">
           <div class="category-card">
             <i class='flaticon-consultation'></i>
             <h3>Business</h3>
             <p>122 open position</p>
           </div>
         </a>
       </div>

       <div class="col-lg-3 col-md-4 col-sm-6">
         <a href="job-list.html">
           <div class="category-card">
             <i class='flaticon-heart'></i>
             <h3>Health Care</h3>
             <p>335 open position</p>
           </div>
         </a>
       </div>

       <div class="col-lg-3  col-md-4 col-sm-6">
         <a href="job-list.html">
           <div class="category-card">
             <i class='flaticon-computer'></i>
             <h3>IT & Agency</h3>
             <p>401 open position</p>
           </div>
         </a>
       </div>

       <div class="col-lg-3  col-md-4 col-sm-6 offset-md-2 offset-lg-0">
         <a href="job-list.html">
           <div class="category-card">
             <i class='flaticon-worker'></i>
             <h3>Engineering</h3>
             <p>100 open position</p>
           </div>
         </a>
       </div>

       <div class="col-lg-3 col-md-4 col-sm-6">
         <a href="job-list.html">
           <div class="category-card">
             <i class='flaticon-auction'></i>
             <h3>Legal</h3>
             <p>201 open position</p>
           </div>
         </a>
       </div>
     </div>
   </div>
 </section>
 <!-- Category Section End -->
 <!-- Job Info Section Start -->
 <div class="job-info-two pt-100 pb-70">
   <div class="container">
     <div class="row">
       <div class="col-md-6">
         <div class="looking-job">
           <div class="media">
             <i class='flaticon-group align-self-start mr-3'></i>
             <div class="media-body">
               <h5 class="mt-0">Looking For a Job</h5>
               <p>Your next role could be with one of these top leading organizations</p>

               <a routerLink="signup">
                 Apply Now
                 <i class='bx bx-chevrons-right'></i>
               </a>
             </div>
           </div>
           <i class='flaticon-group bottom-icon'></i>
         </div>
       </div>

       <div class="col-md-6">
         <div class="recruiting-card">
           <div class="media">
             <i class='flaticon-resume align-self-start mr-3'></i>
             <div class="media-body">
               <h5 class="mt-0">Are You Recruiting?</h5>
               <p>Your next role could be with one of these top leading organizations</p>

               <a routerLink="signup">
                 Apply Now
                 <i class='bx bx-chevrons-right'></i>
               </a>
             </div>
           </div>
           <i class='flaticon-resume bottom-icon'></i>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- Job Info Section End -->
        <!-- Counter Section Start -->
        <!-- <div class="counter-section pt-100 pb-70">
          <div class="container">
              <div class="row counter-area">
                  <div class="col-lg-3 col-6">
                      <div class="counter-text">
                          <i class="flaticon-resume"></i>
                          <h2><span>1225</span></h2>
                          <p>Job Posted</p>
                      </div>
                  </div>

                  <div class="col-lg-3 col-6">
                      <div class="counter-text">
                          <i class="flaticon-recruitment"></i>
                          <h2><span>145</span></h2>
                          <p>Job Filed</p>
                      </div>
                  </div>

                  <div class="col-lg-3 col-6">
                      <div class="counter-text">
                          <i class="flaticon-portfolio"></i>
                          <h2><span>170</span></h2>
                          <p>Company</p>
                      </div>
                  </div>

                  <div class="col-lg-3 col-6">
                      <div class="counter-text">
                          <i class="flaticon-employee"></i>
                          <h2><span>125</span></h2>
                          <p>Members</p>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
      <!-- Counter Section End -->
