	<!-- Navbar Area Start -->
		<div class="navbar-area">
			<!-- Menu For Mobile Device -->
			<div class="mobile-nav">
				<a href="index.html" class="logo">
					<img src="assets/img/logo.png" alt="logo">
				</a>
			</div>

			<!-- Menu For Desktop Device -->
			<div class="main-nav">
				<div class="container">
					<nav class="navbar navbar-expand-lg navbar-light">
						<a class="navbar-brand" href="index.html">
							<img src="assets/img/logo.jpg" height="50" alt="logo">
						</a>
						<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
							<ul class="navbar-nav m-auto">
								<li class="nav-item">
									<a href="#" class="nav-link  active">Home</a>

								</li>

								<li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle">Jobs</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="find-job.html" class="nav-link">Find A Job</a>
										</li>
										<li class="nav-item">
											<a href="post-job.html" class="nav-link">Post A Job</a>
										</li>
										<li class="nav-item">
											<a href="job-list.html" class="nav-link">Job List</a>
										</li>
										<li class="nav-item">
											<a href="job-grid.html" class="nav-link">Job Grid</a>
										</li>
										<li class="nav-item">
											<a href="job-details.html" class="nav-link">Job Details</a>
										</li>
									</ul>
								</li>



                <li class="nav-item">
									<a href="contact.html" class="nav-link">Our Team</a>
								</li>
								<li class="nav-item">
									<a href="contact.html" class="nav-link">Contact Us</a>
								</li>
                <li class="nav-item">
									<a href="about.html" class="nav-link">About</a>
								</li>
                <li class="nav-item">
									<a href="#" class="nav-link dropdown-toggle ">language</a>
									<ul class="dropdown-menu">
										<li class="nav-item active">
											<a href="blog.html" class="nav-link active"> <img src="assets/img/flags/icons8-great-britain-80.png" class="mx-2" width="25" alt="English">English </a>
										</li>
										<li class="nav-item">
											<a href="blog-two" class="nav-link">  <img src="assets/img/flags/icons8-germany-80.png" class="mx-2" width="25"> Dutch</a>
										</li>
										<li class="nav-item">
											<a href="blog-details.html" class="nav-link"><img src="assets/img/flags/icons8-france-80.png" class="mx-2" width="25">French</a>
										</li>
									</ul>
								</li>
							</ul>

							<div class="other-option">
								<a href="sign-up.html" class="signup-btn">Sign Up</a>
								<a href="sign-in.html" class="signin-btn">Sign In</a>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		<!-- Navbar Area End -->
